.main {
	background: #0E1014;
	width: 100%;
	min-height: 100vh;
	padding: 0px 0px 0px 0px;
	@media (min-width: 768px) {
		padding: 46px 0px 0px 0px;
	 }
}

	.purpleLight {
		position: absolute;
		top: -20%;
		left: 50%;
		width: 259px;
		height: 259px;
		border-radius: 259px;
		opacity: 0.5;
		background: #833AB4;
		filter: blur(196px);
		@media (max-width: 768px) {
			left: 0;
			top: 0;
		}
	}
	.redLight {
		position: absolute;
		top: 50%;
		left: 5%;
		width: 311px;
		height: 311px;
		border-radius: 311px;
		opacity: 0.5;
		background: #961A1A;
		filter: blur(196px);
		@media (max-width: 768px) {
			width: 211px;
			height: 211px;
		}
	}
	.purpleBallMobil {
		position: absolute;
		top: 255px;
		right: 0;
		@media (min-width: 768px) {
			display: none;
		}
	}
	.redBallMobil {
		position: absolute;
		bottom: 40px;
		left: 65px;
		background: radial-gradient(64% 64% at 27.25% 26.5%,#ffd0d07a 0,rgba(212,93,93,.248) 59.67%,rgba(167,49,49,.264) 78.59%,rgba(130,25,25,.232) 100%);
		filter: blur(8px);
		height: 48px;
		width: 48px;
		@media (min-width: 482px) {
			bottom: 103px;
			left: 116px;
		}
		@media (min-width: 768px) {
			display: none;
		}
	}
	.redBallMin {
		position: absolute;
		top: 577px;
		left: 54%;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.redBallDesc {
		position: absolute;
		top: 65px;
		left: 37%;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.purpleBallDesc {
		position: absolute;
		top: -1px;
		left: 57%;
		@media (max-width: 768px) {
			display: none;
		}
	}

